body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.glasses-container {
    margin: 20px;
}

#default-glasses {
    width: 300px; /* 根据需要调整图像大小 */
    height: auto;
    background-color: transparent; /* 初始背景透明 */
}
